In [1]:
import os
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [49]:
path_to_data = r'C:\Users\Rory\raw_data\SERT_DREADD\spikes_df'

recordings_to_analyse = ['2018-04-18']

In [50]:
file = '\\'.join([path_to_data, recordings_to_analyse[0]]) + '.csv'
df = pd.read_csv(file, index_col=0)
df = df.drop('condition', axis=1)

In [51]:
df['time'] = pd.to_timedelta(df['time'], unit='s')

In [52]:
df['spike'] = 1
df1 = df.pivot_table(index='time', columns='spike_cluster', values='spike', aggfunc='count')

In [56]:
sec = df1.resample('s').count()

In [42]:
df1 = df.pivot_table(columns='spike_cluster', values='spike', aggfunc='count')

In [43]:
df1.head()

spike_cluster,0,14,19,37,48,64,72,92,159,161,...,341,349,356,360,364,374,384,396,401,418
spike,20491,90411,10485,81964,6594,21555,30084,6123,4792,9801,...,15677,13918,16415,9059,6843,24054,49006,7085,3639,7510