In [30]:
import pandas as pd
import numpy as np


data = {'cluster_id': np.random.randint(0, 3, 30), 'recording_id':20, 'times': np.random.random((30))}
df = pd.DataFrame(data)

In [31]:
def collapse(col):
    return col.values

In [35]:
df

    cluster_id  recording_id     times
0            2            20  0.852454
1            1            20  0.383501
2            1            20  0.721721
3            2            20  0.921952
4            2            20  0.268097
5            0            20  0.249814
6            0            20  0.320172
7            0            20  0.404069
8            2            20  0.867519
9            2            20  0.434034
10           1            20  0.550315
11           1            20  0.826047
12           0            20  0.876891
13           1            20  0.865801
14           1            20  0.090765
15           2            20  0.873119
16           1            20  0.442790
17           0            20  0.941571
18           2            20  0.180400
19           2            20  0.719961
20           0            20  0.264267
21           1            20  0.629210
22           1            20  0.264876
23           0            20  0.968676
24           1            20  0.321174
25           0            20  0.349258
26           0            20  0.815272
27           1            20  0.428256
28           0            20  0.480361
29           0            20  0.565815

In [41]:
a = df.groupby(['cluster_id', 'recording_id'])['times'].apply(collapse).reset_index()

In [44]:
pd.DataFrame(a)['times'].values

array([array([0.249814  , 0.32017221, 0.40406897, 0.87689086, 0.94157065,
       0.26426717, 0.96867572, 0.34925784, 0.81527244, 0.48036081,
       0.56581541]),
       array([0.38350126, 0.72172103, 0.55031529, 0.82604653, 0.86580144,
       0.09076514, 0.44279047, 0.62920956, 0.26487628, 0.32117383,
       0.42825587]),
       array([0.85245356, 0.92195184, 0.26809713, 0.86751885, 0.43403357,
       0.87311922, 0.18040008, 0.71996111])], dtype=object)

In [49]:
pd.read_excel('temp.xlsx').spike_times.apply(len)

0     65
1     65
2     65
3     65
4     65
5     65
6     65
7     65
8     65
9     65
10    65
11    65
12    65
13    65
14    65
15    65
16    65
17    65
18    65
19    65
20    65
21    65
22    65
23    65
24    65
25    65
Name: spike_times, dtype: int64