In [1]:
import pandas as pd
import numpy as np


data = {'neuron_id': np.random.randint(0, 3, 2000), 'times': np.random.random((2000))}
df = pd.DataFrame(data)

In [2]:
df

      neuron_id     times
0             2  0.274348
1             0  0.762930
2             1  0.462085
3             2  0.849874
4             1  0.934113
5             1  0.226604
6             1  0.586485
7             2  0.701760
8             2  0.633742
9             1  0.677020
10            2  0.736053
11            2  0.657980
12            0  0.031470
13            2  0.904552
14            1  0.948374
15            2  0.173027
16            2  0.340766
17            1  0.396804
18            2  0.440198
19            2  0.356011
20            1  0.345232
21            2  0.439757
22            0  0.664025
23            2  0.791956
24            1  0.457195
25            1  0.637633
26            2  0.011501
27            1  0.876654
28            1  0.355218
29            2  0.850979
...         ...       ...
1970          1  0.207646
1971          0  0.370942
1972          2  0.924121
1973          2  0.186970
1974          0  0.538418
1975          2  0.181525
1976          2  0.596165
1977          0  0.291650
1978          1  0.937472
1979          0  0.372759
1980          0  0.524903
1981          0  0.480304
1982          0  0.955444
1983          2  0.593731
1984          1  0.758868
1985          0  0.354888
1986          0  0.040248
1987          0  0.633989
1988          0  0.512039
1989          0  0.708900
1990          1  0.354122
1991          0  0.081515
1992          0  0.166021
1993          0  0.695206
1994          1  0.768351
1995          1  0.600496
1996          2  0.713851
1997          2  0.167940
1998          2  0.897634
1999          0  0.856723

[2000 rows x 2 columns]

In [25]:
def mapper(row, df2, rows_to_change):
    id_ = row['neuron_id']
    if id_ in rows_to_change:
        return df2[df2['neuron_id']==id_]['times'].values
    else:
        return row['times']

In [26]:
data = {'neuron_id': np.random.randint(0, 2, 2000), 'times': np.random.random((2000))*100}
df5 = pd.DataFrame(data)

In [27]:
from functools import partial

In [28]:
f = partial(mapper, df2=df5, rows_to_change=df5['neuron_id'].values)

In [29]:
df.apply(f, axis=1)

0                                                0.274348
1       [27.67136654347452, 72.28829735300566, 97.7940...
2       [55.84195355923377, 66.57276969497183, 58.8826...
3                                                0.849874
4       [55.84195355923377, 66.57276969497183, 58.8826...
5       [55.84195355923377, 66.57276969497183, 58.8826...
6       [55.84195355923377, 66.57276969497183, 58.8826...
7                                                 0.70176
8                                                0.633742
9       [55.84195355923377, 66.57276969497183, 58.8826...
10                                               0.736053
11                                                0.65798
12      [27.67136654347452, 72.28829735300566, 97.7940...
13                                               0.904552
14      [55.84195355923377, 66.57276969497183, 58.8826...
15                                               0.173027
16                                               0.340766
17      [55.84195355923377, 66.57276969497183, 58.8826...
18                                               0.440198
19                                               0.356011
20      [55.84195355923377, 66.57276969497183, 58.8826...
21                                               0.439757
22      [27.67136654347452, 72.28829735300566, 97.7940...
23                                               0.791956
24      [55.84195355923377, 66.57276969497183, 58.8826...
25      [55.84195355923377, 66.57276969497183, 58.8826...
26                                              0.0115008
27      [55.84195355923377, 66.57276969497183, 58.8826...
28      [55.84195355923377, 66.57276969497183, 58.8826...
29                                               0.850979
                              ...
1970    [55.84195355923377, 66.57276969497183, 58.8826...
1971    [27.67136654347452, 72.28829735300566, 97.7940...
1972                                             0.924121
1973                                              0.18697
1974    [27.67136654347452, 72.28829735300566, 97.7940...
1975                                             0.181525
1976                                             0.596165
1977    [27.67136654347452, 72.28829735300566, 97.7940...
1978    [55.84195355923377, 66.57276969497183, 58.8826...
1979    [27.67136654347452, 72.28829735300566, 97.7940...
1980    [27.67136654347452, 72.28829735300566, 97.7940...
1981    [27.67136654347452, 72.28829735300566, 97.7940...
1982    [27.67136654347452, 72.28829735300566, 97.7940...
1983                                             0.593731
1984    [55.84195355923377, 66.57276969497183, 58.8826...
1985    [27.67136654347452, 72.28829735300566, 97.7940...
1986    [27.67136654347452, 72.28829735300566, 97.7940...
1987    [27.67136654347452, 72.28829735300566, 97.7940...
1988    [27.67136654347452, 72.28829735300566, 97.7940...
1989    [27.67136654347452, 72.28829735300566, 97.7940...
1990    [55.84195355923377, 66.57276969497183, 58.8826...
1991    [27.67136654347452, 72.28829735300566, 97.7940...
1992    [27.67136654347452, 72.28829735300566, 97.7940...
1993    [27.67136654347452, 72.28829735300566, 97.7940...
1994    [55.84195355923377, 66.57276969497183, 58.8826...
1995    [55.84195355923377, 66.57276969497183, 58.8826...
1996                                             0.713851
1997                                              0.16794
1998                                             0.897634
1999    [27.67136654347452, 72.28829735300566, 97.7940...
Length: 2000, dtype: object

In [12]:
a.apply(len)

neuron_id
0    11
1    11
2     8
Name: times, dtype: int64

In [17]:
df.groupby('neuron_id').apply(lambda x: x.iloc[0])

           neuron_id     times
neuron_id
0                0.0  0.631657
1                1.0  0.583349
2                2.0  0.073474

In [ ]:
def _extract_waveforms(col, raw_data,
                       num_spikes=1000, num_samples=240,
                       num_channels=32):
        waveform_window = np.arange(-num_samples / 2, num_samples / 2)
        col_labels = [''.join(['Chan_', str(num)]) for num in range(0, num_channels)]
        try:
            assert num_spikes >= len(col)
        except AssertionError:
            raise ValueError("not enough spikes. col: {}".format(col))
            
        empty_template = np.zeros((num_spikes, num_samples, num_channels))
        for spike in range(num_spikes):
            st = int(col.iloc[spike] + waveform_window[0])
            end = int((spike_times['spike_time'].iloc[spike] + waveform_window[-1]) + 1)

In [13]:
from functools import partial

In [49]:
pd.read_excel('temp.xlsx').spike_times.apply(len)

0     65
1     65
2     65
3     65
4     65
5     65
6     65
7     65
8     65
9     65
10    65
11    65
12    65
13    65
14    65
15    65
16    65
17    65
18    65
19    65
20    65
21    65
22    65
23    65
24    65
25    65
Name: spike_times, dtype: int64

In [22]:
df - np.mean(df, axis=0)

      neuron_id     times
0       -1.0175  0.136183
1       -1.0175  0.384513
2        0.9825 -0.422000
3        0.9825 -0.315643
4       -0.0175  0.087875
5        0.9825  0.347054
6        0.9825 -0.046017
7        0.9825  0.201408
8       -1.0175  0.138817
9        0.9825 -0.111826
10      -1.0175  0.230699
11      -0.0175 -0.331006
12      -1.0175 -0.202853
13      -0.0175  0.085871
14      -1.0175 -0.280427
15      -1.0175  0.428213
16      -0.0175  0.180466
17       0.9825  0.127920
18      -1.0175 -0.303690
19      -1.0175  0.483119
20       0.9825 -0.221941
21      -1.0175 -0.194528
22      -0.0175  0.501074
23      -1.0175  0.164498
24      -1.0175 -0.447141
25      -1.0175 -0.087161
26       0.9825  0.475094
27      -0.0175  0.015114
28      -0.0175 -0.310020
29      -0.0175  0.006764
...         ...       ...
1970    -0.0175 -0.210277
1971    -0.0175 -0.441312
1972     0.9825 -0.448955
1973    -1.0175  0.502123
1974    -1.0175  0.498034
1975    -1.0175 -0.357033
1976    -0.0175  0.422424
1977     0.9825  0.006455
1978    -1.0175 -0.176684
1979     0.9825 -0.388017
1980    -1.0175  0.316933
1981    -0.0175  0.242325
1982     0.9825  0.166580
1983    -1.0175  0.463618
1984     0.9825  0.473649
1985    -0.0175 -0.478332
1986    -0.0175 -0.492747
1987    -1.0175 -0.082608
1988     0.9825  0.267475
1989    -1.0175 -0.444870
1990    -0.0175 -0.157144
1991     0.9825 -0.101703
1992    -1.0175 -0.429334
1993    -0.0175  0.017083
1994    -0.0175  0.093036
1995     0.9825 -0.166748
1996     0.9825  0.375013
1997    -0.0175  0.070575
1998    -1.0175  0.275964
1999    -0.0175 -0.438503

[2000 rows x 2 columns]