In [2]:
import os
from matplotlib import pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.cluster.hierarchy import fcluster
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
sep = '/'

In [3]:
fr_thresh = 4.5
ISI_thresh = 0.55
recording_CIT = r'F:'
filename = 'extra_neuron_stats.csv'
filename_2 = 'final_concatenated_stats.csv'
out_dir = r'F:'
out_filename = 'ultimate_concatenated_stats.csv'

In [4]:
df_1 = pd.read_csv(os.sep.join([recording_CIT, filename]))
df_1['Experiment'] = 'CIT_WAY'

In [5]:
df_2 = pd.read_csv(os.sep.join([recording_CIT, filename_2]))

In [6]:
df_2.drop('Cluster_ID', axis=1, inplace=True)
df_2.index.name = 'Cluster_ID'

In [8]:
df_2['recording'].unique()

array(['CIT_09_2018-07-03', 'CIT_10_2018-07-04', 'CIT_11_2018-07-05',
       'CIT_14_2018-07-06', '2018-05-01_01', '2018-04-12_371b',
       '2018-04-16_401b', '2018-04-18'], dtype=object)

In [9]:
df_1

,spike_cluster,CV ISI,Firing Rate,recording,SW_peak,SW_return,SW_troff,base_min_amp,min_max_amp,spike_type,category,Experiment
0,7,0.460081,6.941111,2018-05-03_02,0.066667,0.300000,0.233333,775.400673,948.361818,up_down_up,slow regular,CIT_WAY
1,36,0.953120,0.051389,2018-05-03_02,NaN,0.600000,0.266667,66.490205,NaN,down_up,slow irregular,CIT_WAY
2,43,0.484219,36.720000,2018-05-03_02,0.033333,0.333333,0.200000,445.891764,468.279636,up_down_up,fast regular,CIT_WAY
3,63,0.003745,0.001111,2018-05-03_02,0.133333,1.600000,0.300000,50.540755,440.435091,up_down_up,slow regular,CIT_WAY
4,90,0.000000,0.000833,2018-05-03_02,0.166667,0.466667,0.366667,595.197755,955.384727,up_down_up,slow regular,CIT_WAY
5,94,0.878265,8.614444,2018-05-03_02,NaN,NaN,NaN,NaN,NaN,up_down_up,slow irregular,CIT_WAY
6,95,0.889242,10.352500,2018-05-03_02,NaN,0.466667,0.333333,376.114942,NaN,down_up,fast irregular,CIT_WAY
7,97,0.826892,0.040556,2018-05-03_02,0.000000,0.300000,0.200000,580.423773,632.313636,up_down_up,slow irregular,CIT_WAY
8,98,0.323324,19.091389,2018-05-03_02,0.100000,0.400000,0.300000,1188.973536,1356.054182,up_down_up,fast regular,CIT_WAY
9,100,0.223178,36.314722,2018-05-03_02,NaN,1.133333,0.266667,63.849525,NaN,down_up,fast regular,CIT_WAY
10,103,0.278004,38.518611,2018-05-03_02,NaN,0.700000,0.366667,61.431596,NaN,down_up,fast regular,CIT_WAY
11,107,0.259916,49.765556,2018-05-03_02,NaN,0.833333,0.266667,175.877770,NaN,down_up,fast regular,CIT_WAY
12,108,0.683239,5.459722,2018-05-03_02,0.166667,0.600000,0.400000,622.832873,1053.113091,up_down_up,slow regular,CIT_WAY
13,112,0.741727,4.102222,2018-05-03_02,NaN,0.733333,0.566667,393.647324,NaN,down_up,slow regular,CIT_WAY
14,45,1.599814,1.556944,2018-05-20_05,NaN,0.600000,0.366667,160.492929,NaN,down_up,slow irregular,CIT_WAY
15,95,0.229361,14.161667,2018-05-20_05,0.100000,0.966667,0.466667,233.752482,283.051091,up_down_up,fast regular,CIT_WAY
16,96,0.163253,15.319722,2018-05-20_05,0.066667,3.533333,3.633333,12.577318,182.690364,up_down_up,fast regular,CIT_WAY
17,97,0.385404,9.939167,2018-05-20_05,NaN,0.633333,0.433333,101.993624,NaN,down_up,slow regular,CIT_WAY
18,98,0.192549,38.594444,2018-05-20_05,0.033333,0.266667,0.200000,402.604318,458.884909,up_down_up,fast regular,CIT_WAY

In [10]:
df_concat = pd.concat([df_1, df_2],axis=0)

In [11]:
df_concat.reset_index(drop=True, inplace=True)
df_concat.index.name = 'Cluster_ID'
df_concat = df_concat[pd.notnull(df_concat['SW_troff'])]
df_concat.to_csv(os.sep.join([out_dir, out_filename]))

In [14]:
df_concat['recording'].unique()

array(['2018-05-03_02', '2018-05-20_05', 'CIT_09_2018-07-03',
       'CIT_10_2018-07-04', 'CIT_11_2018-07-05', 'CIT_14_2018-07-06',
       '2018-05-01_01', '2018-04-12_371b', '2018-04-16_401b',
       '2018-04-18'], dtype=object)