In [2]:
import dc_stat_think as dc
import numpy as np
import pandas as pd

In [3]:
import os
from glob import glob as gb

In [4]:
path = '/home/ruairi/Documents/tmp'
csv_files = gb(''.join([path, '/*.csv']))

In [5]:
df = pd.read_csv(csv_files[0])
df.head()

,Cluster_ID,Cluster_ID.1,spike_cluster,CV ISI,Firing Rate,recording,SW_peak,SW_return,SW_troff,base_min_amp,min_max_amp,spike_type,category,Experiment,labels,GMM_labels
0,0,0,4,0.521050,14.251111,CIT_09_2018-07-03,0.066667,0.433333,0.233333,358.625118,428.742545,up_down_up,fast regular,CIT_WAY,0,1
1,1,1,50,0.491941,29.060000,CIT_09_2018-07-03,0.066667,0.466667,0.233333,330.368218,381.340727,up_down_up,fast regular,CIT_WAY,1,1
2,2,2,96,0.250473,17.164722,CIT_09_2018-07-03,NaN,0.366667,0.266667,270.924649,NaN,down_up,fast regular,CIT_WAY,1,1
3,3,3,97,0.719563,5.984444,CIT_09_2018-07-03,NaN,1.700000,0.966667,1227.106991,NaN,down_up,slow regular,CIT_WAY,0,0
4,4,4,107,0.860671,6.983333,CIT_09_2018-07-03,NaN,1.366667,0.433333,626.234746,NaN,down_up,slow irregular,CIT_WAY,0,0

In [10]:
labs = tuple(['Firing Rate', 'CV_ISI'])

out = {}

for group in df['GMM_labels'].unique():
    df1 = df[df['GMM_labels']==group]
    fr = df1['Firing Rate'].values
    cv_isi = df1['CV ISI'].values
    
    for index, arr in enumerate([fr, cv_isi]):
        bs_reps = dc.draw_bs_reps(arr, np.mean, 10000)  # draw 10000 bs samples, for each, calculate their mean
        confidence_intervals = np.percentile(bs_reps, [2.5, 97.5])
        out[group, labs[index]] = confidence_intervals

In [11]:
from pprint import pprint as pp

pp(out)

{(0, 'CV_ISI'): array([ 0.38379527,  0.49961517]),
 (0, 'Firing Rate'): array([ 3.83447544,  5.0391372 ]),
 (1, 'CV_ISI'): array([ 0.42344968,  0.6639677 ]),
 (1, 'Firing Rate'): array([ 16.83311237,  28.05606061]),
 (2, 'CV_ISI'): array([ 1.26711453,  1.73225522]),
 (2, 'Firing Rate'): array([ 1.75994526,  3.25831781])}

In [12]:
len(df)

69