How Stable is the baseline firing?

In [10]:
import sqlalchemy as sql
import pandas as pd
import os
import matplotlib.pyplot as plt
import sys
sys.path.append('/home/ruairi/repos/ephys/package/')
from ephys_plots import heatmap_by_cluster
import numpy as np

db_user = os.environ.get('DB_USER')
db_pass = os.environ.get('DB_PASS')
db = 'mua_data'

con_str =f"mysql+pymysql://{db_user}:{db_pass}@localhost/{db}"
eng = sql.create_engine(con_str)

In [2]:
df_clusters = '/home/ruairi/data/tmp/baseline_stats_pre_exclusion_with_clusters.csv'
df_clusters = pd.read_csv(df_clusters)

In [27]:
df_bl = '/home/ruairi/data/tmp/baseline_stats_pre_exclusion.csv'
df_bl = pd.read_csv(df_bl)

In [4]:
df_ts = '/home/ruairi/data/tmp/ifr/citalopram.csv'
df_ts = pd.read_csv(df_ts)

df_ts2 = '/home/ruairi/data/tmp/ifr/dreadd.csv'
df_ts2 = pd.read_csv(df_ts2)

df_ts = pd.merge(df_ts, df_ts2, left_index=True, right_index=True, how='outer')
# df_ts.to_csv('/home/ruairi/data/tmp/ifr/all.csv', index=False)
df_ts=df_ts.iloc[:3600, :]
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3600 entries, 0 to 3599
Columns: 771 entries, 1 to 607
dtypes: float64(771)
memory usage: 21.2 MB

In [5]:
recordings = pd.read_sql('SELECT neuron_id FROM neurons',
                            eng)
n = len(recordings)
n

771

In [6]:
isis = {}
from elephant.statistics import isi

In [7]:
def get_spike_times(r):

    spike_times = f'''SELECT * FROM spike_times WHERE spike_times < 108000000
    && neuron_id={r}
    '''

    return pd.read_sql(spike_times, eng)

In [8]:
isis = {}
for recording in recordings['neuron_id'].values:
    df = get_spike_times(recording)
    isis[recording] = isi(df['spike_times'].values)

In [18]:
df_bl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771 entries, 0 to 770
Data columns (total 4 columns):
mfr             771 non-null float64
cv isi          771 non-null float64
recording_id    771 non-null int64
neuron_id       771 non-null int64
dtypes: float64(2), int64(2)
memory usage: 24.2 KB

In [28]:
ser = df_ts.apply(np.var)
ser.name ='var'
ser.index.name = 'neuron_id'
ser = ser.reset_index()
ser['neuron_id'] = pd.to_numeric(ser['neuron_id'])
df_bl = pd.merge(df_bl, ser, on='neuron_id')

In [29]:
ser = pd.Series({rec: np.var(isi) for rec, isi in isis.items()})
ser.name = 'isi_var'
ser.index.name = 'neuron_id'
ser = ser.reset_index()
ser['neuron_id'] = pd.to_numeric(ser['neuron_id'])
df_bl = pd.merge(df_bl, ser, on='neuron_id')

In [262]:
ser

Series([], dtype: float64)

In [30]:
ser = pd.Series(dict(zip(isis.keys(), list(map(lambda x: np.max(x), isis.values())))))
ser = pd.to_numeric(ser)
ser = ser.apply(lambda x: np.max(x) > 3600000).map({True:1, False:0})
ser.name ='minute_gap'
ser.index.name = 'neuron_id'
ser = ser.reset_index()
ser['neuron_id'] = pd.to_numeric(ser['neuron_id'])
df_bl = pd.merge(df_bl, ser, on='neuron_id')

df_bl.head()

,mfr,cv isi,recording_id,neuron_id,var,isi_var,minute_gap
0,5.928903,0.239206,1,1,0.172195,1.999181e+06,0
1,1.206947,0.787332,1,2,1.174466,3.233078e+11,1
2,6.598349,0.299881,1,3,0.244312,2.065885e+06,0
3,10.164469,0.332762,1,4,9.095547,5.526932e+06,0
4,8.665576,0.745341,1,5,8.107467,1.013471e+07,0

In [31]:
df_bl.to_csv('/home/ruairi/data/tmp/pre_exclusion_extra_features.csv',
            index=False)