In [1]:
import sqlalchemy as sql
import pandas as pd
import os
import sys
sys.path.append('/home/ruairi/repos/ephys/package/')
from neo_bridge import df_to_neo, neo_transformer, neo_to_df
from ephys_stats import ifr




db_user = os.environ.get('DB_USER')
db_pass = os.environ.get('DB_PASS')
db = 'mua_data'

con_str =f"mysql+pymysql://{db_user}:{db_pass}@localhost/{db}"
eng = sql.create_engine(con_str)

In [2]:
# all citalopram recordings

# q = 'SELECT recording_id FROM recordings WHERE group_id IN (1, 2, 3, 4)'

# recordings = pd.read_sql(q, eng)
# recordings = recordings['recording_id'].values


# all dreadd recordings

q = 'SELECT recording_id FROM recordings WHERE group_id IN (3, 4)'

recordings = pd.read_sql(q, eng)
recordings = recordings['recording_id'].values

In [3]:
# out dir 

parent = '/home/ruairi/data/tmp/ifr/chronic'

if not os.path.exists(parent):
    os.mkdir(parent)

In [4]:
def get_spike_times(recording, eng):
    q = f'''SELECT spike_times.neuron_id, spike_times.spike_times FROM spike_times INNER JOIN neurons ON spike_times.neuron_id=neurons.neuron_id
    WHERE neurons.recording_id={recording}'''
    return pd.read_sql(q, eng)

In [5]:
for recording in recordings:
    print(recording)
    spike_times = get_spike_times(recording, eng)
    if len(spike_times) == 0:
        continue
    inds, st_list = df_to_neo(spike_times)
    a_sigs = ifr(st_list)
    df = neo_to_df(a_sigs, ids=spike_times['neuron_id'].unique())
    df.to_csv(os.path.join(parent, ''.join([str(recording), '.csv'])), index=False)

18

/home/ruairi/anaconda3/lib/python3.6/site-packages/mkl_fft/_numpy_fft.py:158: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  output = mkl_fft.fft(a, n, axis)
/home/ruairi/anaconda3/lib/python3.6/site-packages/mkl_fft/_numpy_fft.py:1044: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  output = mkl_fft.rfftn_numpy(a, s, axes)
/home/ruairi/anaconda3/lib/python3.6/site-packages/elephant/statistics.py:817: UserWarning: Instantaneous firing rate approximation contains negative values, possibly caused due to machine precision errors.
  warnings.warn("Instantaneous firing rate approximation contains "

20
22
24
26
19
21
23
25
27

### MERGE

In [6]:
from glob import glob

p = '/home/ruairi/data/tmp/ifr/chronic'

files = glob(os.path.join(p, '*.csv'))


df = pd.read_csv(files[0])
for file in files[1:]:
    df = pd.merge(df, pd.read_csv(file), left_index=True, right_index=True, how='outer')

,676,677,678,679,680,681,682,683,684,685,...,598,599,600,601,602,603,604,605,606,607
0,10.787182,6.067427,16.512440,6.973306,7.611542,4.338418,4.190973,0.970483,0.432824,0.244604,...,2.964524,1.577366,0.835318,0.201207,0.049277,0.355240,0.081474,0.101357,0.033417,7.579123e-16
1,12.854349,7.120326,20.326510,8.246277,9.453179,5.144040,4.758527,1.076309,0.403911,0.268788,...,3.202768,1.707993,0.875183,0.230246,0.050174,0.408604,0.085505,0.114140,0.036658,2.526374e-16
2,14.395832,7.698595,23.254370,9.183801,11.085932,5.818662,5.020003,1.123967,0.332375,0.277403,...,3.436210,1.836623,0.914976,0.259876,0.050280,0.465812,0.088584,0.127762,0.039941,0.000000e+00
3,15.402344,7.753730,25.163305,9.765079,12.468108,6.404679,5.006881,1.124511,0.244086,0.273503,...,3.662423,1.961675,0.954568,0.289438,0.049593,0.526471,0.090601,0.142167,0.043224,7.579123e-16
4,15.991999,7.369819,26.183059,10.024164,13.653675,6.950745,4.804733,1.089932,0.166381,0.261549,...,3.879234,2.081642,0.993834,0.318214,0.048145,0.590095,0.091489,0.157282,0.046461,0.000000e+00

In [7]:
df.to_csv('/home/ruairi/data/tmp/ifr/chronic.csv', index=False)